<h1>Welcome to Tom's Growshop</h1>
<%= image_tag("tree.jpg", class: "img-responsive", alt: "Tree of Life") %>
<h2>We got you covered for your successfull crop</h2>
<p>Welcome! The date and time is <%= Time.now %></p>
