<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible. To go back to the homepage please <%= link_to "click here", index_path %>.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
