// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Variables
$font-headings: 'Rammetto One', Helvetica, sans-serif;
$font-stack: 'Comfortaa', Helvetica, sans-serif;

h2 {
  font-family: $font-headings;
  color: #247ba0;
  font-size: 25px;
}

h4 {
	font-family: $font-headings;
}

.new_product, .edit_product {
	padding-left: 50px;
}

label {
	font-family: $font-stack;
	font-weight: 400;
}
