// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base";

body {
  padding-top: 65px;
  background-color: #f3ffbd;
}

/*** Navbar Style ***/

.navbar-fixed-top {
  background-color: #2ecc71;
  border-color: #27ae60;
}

.navbar-fixed-top .navbar-nav > li > a {
  font-family: $font-stack;
  color: white;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-fixed-top .navbar-brand {
  &:hover {
    background-color: transparent;
  }
}

.navbar-fixed-top .navbar-nav > li > a {
  &:hover, &:focus {
    background-color: #27ae60;
  }
}

.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #ff1654;
 }

.dropdown-menu > li > a {
  color: white;
  background-color: #27ae60;
  &:hover {
    color: white;
    background-color: #72dfa0;
  }
}

.btn-default {
  color: #ff1654;
  background-color: #72dfa0;
  &:hover {
    color: #ff1654;
    background-color: #0af06c;
  }
}

/*** END Navbar Style ***/

h1 {
  font-family: $font-headings;
  text-align: center;
  color: #ff1654;
}

footer {
  background-color: #2ecc71;
  border-color: #27ae60;
}

footer p {
  font-family: $font-stack;
}

.carousel-caption {
  font-family: $font-headings;
}

.carousel-control:hover {
  background-color: transparent;
}

#img-frontpage {
  margin: auto;
}


/*** Contact Page Style ***/

.contact-form {
  padding: 45px 15px;
}

/*** END Contact Page Style ***/
